<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">WalletHub-Frontend Angular Test</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li ng-class="isTabActive('home')"><a data-ui-sref="home">Home</a></li>
      <li ng-class="isTabActive('directiveSample')"><a data-ui-sref="directiveSample">Directive Samples</a></li>
      <li ng-class="isTabActive('bindingSample')"><a data-ui-sref="bindingSample">Binding Samples</a></li>
      <li ng-class="isTabActive('users')"><a href="#/users/list">Users</a></li>
    </ul>
  </div>
</div>
<!--
<h3 class="muted">WalletHub-Frontend Angular Test</h3>
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li id="nav-home" ng-class="isTabActive('home')">
                    <a data-ui-sref="home">Home</a>
                </li>
                <li id="nav-directiveSample" ng-class="isTabActive('directiveSample')">
                    <a data-ui-sref="directiveSample">Directive Samples</a>
                </li>
                <li id="nav-bindingSample" ng-class="isTabActive('bindingSample')">
                    <a data-ui-sref="bindingSample">Binding Samples</a>
                </li>
                <li id="nav-map" ng-class="isTabActive('users')">
                    <a data-ui-sref="users">Users</a>
                </li>
            </ul>
        </div>
    </div>
</div>
-->
